# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Flask cache files
instance/
*.sqlite3
*.db

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Environment variables
.env

# macOS system files
.DS_Store
static/.DS_Store
static/images/.DS_Store

